:root {
    --primary-color: #feee00;
    --secondary-color: #3866df;

    --bg-color: #f7f7fa;
    --bg-color-dark: #eaeaea;
    --bg-color-light-blue: #f1f4fd;

    --text-color: #404553;

    --white-color: #ffffff;

    --banner-color: #58595b;

    --gray-color-400: #40455333;

	--space: 8px;

    font-size: 16px;
}

body {
    color: var(--text-color)
}