:root {
	--primary-color: '#feee00'
	--secondary-color: '#3866df'

	--bg-color: '#f7f7fa'
	--bg-color-dark: '#eaeaea'
	--bg-color-light-blue: '#f1f4fd'

	--text-color: '#2f2e2d'

	--white-color: '#ffffff'

	--banner-color: '#58595b'
}