.navbar {
	background-color: var(--primary-color);
	padding: calc(var(--space) * 2);

	display: flex;
	gap: var(--space);
	align-items: center;

	h1 {
		width: 86px;
		height: 24px;
		position: relative;
	}
}
